{% extends 'base.html.twig' %}

{% block title %}Hello ConditionGeneralController!{% endblock %}

{% block body %}

<div class="container-sm border">
    <h1 class="text-center p-5 my-5 bg-dark text-white">CONDITIONS GÉNÉRALES D'UTILISATION</h1>
    <div>
    <p class="fst-italic">  
        Conditions générales d'utilisationLes informations publiées sur le site sont sous la seule responsabilité des propriétaires et ne sont pas
         garanties par AtypikHouse, qui ne peut être tenu pour responsable de la précision ou de la véracité des annonces.</p>

         <h2 class="p-1 my-5">Propriétaires et locatairesVous</h2>
         <p>
        êtes seuls responsables de conduire vos propres investigations concernant toutes réclamations faites par les locataires ou les propriétaires.
        Vous assumez toutes responsabilités pour l'usage de toutes informations trouvées sur les sites ou publications de Atypikhouse.
         </p>
        <h2 class="p-1 my-5">Propriétaires et gestionnaires</h2>
        <p>
            Nous essayons de vous fournir des informations exactes, mais nous ne garantissons pas l’exactitude et l’exhaustivité
         des informations ni leur mise à jour.<br>
          Ainsi, nous déclinons toute responsabilité en cas de dommage résultant de l’utilisation de ces informations
          et des documents disponibles sur AtypikHouse.<br>
           AtypikHouse est par principe accessible 24/24h, et 7/7j. Toutefois nous ne garantissons pas que
           Atypikhouse fonctionnera sans erreur ou sans interruption.<br> 
          En particulier, AtypikHouse et/ou les services pourront être momentanément
           interrompus pour cause de maintenance, de mise à jour ou d’améliorations techniques, ou pour en faire évoluer le contenu et/ou la présentation.<br>
            AtypikHouse pourra également ne pas être accessible pour cas de force majeure. Etant de fait soumis à une obligation de moyens, nous ne saurions 
           être tenus responsable de tout dommage ou perte occasionnée, quelle qu’en soit la nature, résultant d’une indisponibilité de Atypikhouse.<br> 
           Nous ne saurions être tenus responsable d’éventuels actes de piratage.En utilisant ou en continuant à utiliser <br>
           AtypikHouse vous exprimez votre accord dans les termes et conditions de cet engagement de responsabilité.Les informations suivantes concernent
            les titulaires des annonces publiées par AtypikHouse : Si vous souhaitez retirer votre propriété du site, nous pouvons temporairement désactiver
             votre annonce puis la réactiver à une date ultérieure.<br>
              Votre annonce reste en vigueur selon les dates d'échéance prévues initialement 
             (la date de renouvellement n'est pas reportée).<br>
             Plainte des locataires :AtypikHouse se réserve le droit de supprimer une annonce du site si, 
             par exemple, des plaintes sont reçues de locataires ou pour tout autre motif à sa discrétion.    
    </p>
    </div>
    
{% endblock %}
