{% extends 'base.html.twig' %}

{% block title %}Hello ConditionGeneralController!{% endblock %}

{% block body %}

<div class="container-sm border">
    <h1 class="text-center p-5 my-5 bg-dark text-white">QUI SOMME NOUS</h1>
    <div>
    <P>
        Atypikhouse est une société à résponsabilité limitée (sarl) au capital de 10000€ composée de trois
         associés partageant les mêmes passions pour les voyages, l'habitat alternatif et la vie en harmonie 
         avec la nature.
    </p>
    <P>
        Atypikhouse a pour ambition de recenser les plus beaux habitats alternatif (yourtes, cabanes,
         cabanes flottantes etc...) afin de les proposer en location au plus grand nombre, attirés par
          le calme et la nature.
    </P>
    <P>
        Le site Atypikhouse permet à ses utilisateurs de rechercher un logement à louer en france 
        ou en europe, mais permet également à ses utilisateurs de mettre en location leurs propres logements
         de manière simple et sécurisé.
    </P>
    <p>
        Soucieux de la qualité de nos services, nous assurons un controle sérieux sur les logements mis à 
        disposition des clients afin d'assurer un service irreprochable et sécurisé.
    </p>
    <p>
        Le site Atypikhouse est secondé par une application permettant à tous les utilisateurs de notre
         service d'avoir un récapitulatif de leurs achats et pourront également gérer leurs logements si 
         ils ont été enregistrés comme propriété louable.
    </p>
    <p>
        Atypikhouse vous permet donc de reserver des logements atypiques en ligne en europe dans 5 pays:
         FRANCE, ESPAGNE, ITALIE, ALLEMAGNE et BELGIQUE (nous comptons à l'avenir rajouter tous les autres
          pays européens dans les mises à jours à venir). Atypikhouse permet de gérer vos réservations ou
           annonces via notre application mobile.
    </p>
    <p>
        Pour toutes question vous pouvez nous contacter par téléphone au 08 55 56 56 56 ou par mail à notre.
        equipe.atypikhouse@gmail.com sinon vous pouvez aussi utiliser le formulaire de contact de notre site
         mais pour cela vous devez vous connecter sur votre compte.
    </p>

         
       
        
    </div>
    
{% endblock %}
